## Input and output format

In [15]:
import pandas as pd 
import numpy as np

In [16]:
pd.options.display.max_columns=999
pd.options.display.max_rows=999

### Read raw flow, rainfall, and measured nutrient data

In [17]:
flow_df=pd.read_csv('flow.csv')
railfall_df=pd.read_csv('rainfall_raw.csv')
raw_nutrient_df=pd.read_csv('nutrient_data.csv')

### Daily flow data since 1970-01-02

In [18]:
flow_df.head(5)

         Date         Q
0  1970-01-02  1.297008
1  1970-01-03  1.286414
2  1970-01-04  1.286414
3  1970-01-05  1.286414
4  1970-01-06  1.286414

In [19]:
flow_df.tail(5)

             Date          Q
17638  2018-07-16  17.029441
17639  2018-07-17  19.296606
17640  2018-07-18  22.549035
17641  2018-07-19  23.258849
17642  2018-07-20  21.161191

### Daily rainfall data 
- Rainfall data was downloaded from local government with the format below.
- There is function in the R script to combine from first three columns.

In [20]:
railfall_df.head()

   Year  Month  Day  Rainfall amount (millimetres)
0  1965      1    1                            0.0
1  1965      1    2                            0.0
2  1965      1    3                            0.0
3  1965      1    4                            0.0
4  1965      1    5                            0.0

### Measured nutrient concentrations

In [21]:
raw_nutrient_df.head()

,Collect Date,Collection Device,DOC,DON,NOX,TN,NH4,TP,FRP,TSS
0,2/10/2004,Autosampler (discrete),NaN,NaN,NaN,3.10,NaN,0.009,NaN,1.0
1,8/10/2004,Autosampler (discrete),NaN,NaN,NaN,2.80,NaN,0.010,NaN,1.0
2,3/01/2006,Autosampler (discrete),NaN,NaN,NaN,0.43,NaN,0.013,NaN,1.0
3,3/02/2005,Autosampler (discrete),NaN,NaN,NaN,1.60,NaN,0.015,NaN,1.0
4,15/05/2005,Autosampler (discrete),NaN,NaN,NaN,2.30,NaN,0.017,NaN,1.0

### Predicted results from linear model, stand-alone machine learning, and hybrid model 
- predicted_nutrient: predicted nutrient type
- experiment_num: the experiment was rerun for 30 times to test the prediction uncertainty. experiment_num as 1 means the first run.
- measured_con: actual measured concentrations
- lm_predicted: predicted concentrations by the linear model 
- gbm_predicted: predicted concentrations by the stand-alone gbm model 
- hybrid_gbm_predicted: predicted concentrations by the hybrid gbm model

In [23]:
predicted_TN=pd.read_csv('predicted_daily_TN.csv')
predicted_TN.head()

,predicted_nutrient,experiment_num,measured_con,lm_predicted,gbm_predicted,hybrid_gbm_predicted
0,TN,1,1.01,1.290727,0.971174,1.041322
1,TN,1,0.81,0.673426,0.714332,0.745181
2,TN,1,0.91,0.557541,0.735450,0.670564
3,TN,1,0.88,0.545173,0.486529,0.455084
4,TN,1,1.80,0.619926,1.023596,1.132305